In [3]:
# TESI - 03 - PANDAS

In [4]:
import pandas as pd

In [5]:
pd

In [6]:
df = pd.read_csv('acessos.csv')

In [7]:
df

    home  como_funciona  contato  comprou
0      1              1        0        0
1      1              1        0        0
2      1              1        0        0
3      1              1        0        0
4      1              1        0        0
5      1              0        1        1
6      1              1        0        0
7      1              0        1        1
8      1              1        0        0
9      1              0        1        1
10     1              1        0        1
11     1              0        1        1
12     0              0        1        0
13     0              0        1        0
14     0              0        1        0
15     0              0        1        0
16     0              0        1        0
17     0              1        0        0
18     0              0        1        0
19     0              1        0        0
20     0              0        1        0
21     0              1        0        0
22     0              0        1        0
23     0              1        0        0
24     1              0        1        1
25     1              1        1        1
26     1              1        1        1
27     1              0        1        1
28     0              1        0        0
29     0              0        1        0
..   ...            ...      ...      ...
69     1              1        0        0
70     1              1        0        0
71     0              0        1        0
72     0              0        1        0
73     0              0        1        0
74     0              0        1        0
75     0              1        0        0
76     0              0        1        0
77     0              1        0        0
78     0              0        1        0
79     1              1        0        1
80     0              0        1        0
81     0              0        1        0
82     0              0        1        0
83     1              0        1        1
84     1              0        1        1
85     1              1        0        0
86     1              1        0        0
87     0              0        1        0
88     0              0        1        0
89     1              0        1        1
90     1              0        1        1
91     1              1        0        0
92     1              1        0        0
93     0              0        1        0
94     0              0        1        0
95     1              1        1        1
96     0              0        1        0
97     0              1        0        0
98     0              0        0        0

[99 rows x 4 columns]

In [8]:
df.head(5)

   home  como_funciona  contato  comprou
0     1              1        0        0
1     1              1        0        0
2     1              1        0        0
3     1              1        0        0
4     1              1        0        0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 4 columns):
home             99 non-null int64
como_funciona    99 non-null int64
contato          99 non-null int64
comprou          99 non-null int64
dtypes: int64(4)
memory usage: 3.2 KB

In [10]:
df = pd.read_csv('credit-data.csv')

In [11]:
df.head(3)

   clientid        income        age         loan  default
0         1  66155.925095  59.017015  8106.532131        0
1         2  34415.153966  48.117153  6564.745018        0
2         3  57317.170063  63.108049  8020.953296        0

In [12]:
df.age

0       59.017015
1       48.117153
2       63.108049
3       45.751972
4       18.584336
5       57.471607
6       26.809132
7       32.897548
8       55.496853
9       39.776378
10      25.679575
11      60.471936
12      26.355044
13      61.576776
14      39.201553
15     -28.218361
16      39.574530
17      60.848318
18      61.690571
19      26.076093
20      31.761354
21     -52.423280
22      48.576975
23      51.970624
24      48.840922
25      27.031741
26     -36.496976
27      55.839922
28            NaN
29      54.510948
          ...
1970    47.694520
1971    30.308184
1972    54.969313
1973    47.466485
1974    31.344048
1975    54.235915
1976    47.604402
1977    31.192627
1978    40.518963
1979    48.148404
1980    52.580773
1981    43.999461
1982    45.993199
1983    33.327144
1984    60.886966
1985    39.142225
1986    38.622259
1987    20.542409
1988    24.270612
1989    25.252609
1990    34.101654
1991    45.539385
1992    23.250084
1993    26.821928
1994    37.751622
1995    48.518179
1996    23.162104
1997    28.017167
1998    63.971796
1999    56.152617
Name: age, Length: 2000, dtype: float64

In [13]:
df['age']

0       59.017015
1       48.117153
2       63.108049
3       45.751972
4       18.584336
5       57.471607
6       26.809132
7       32.897548
8       55.496853
9       39.776378
10      25.679575
11      60.471936
12      26.355044
13      61.576776
14      39.201553
15     -28.218361
16      39.574530
17      60.848318
18      61.690571
19      26.076093
20      31.761354
21     -52.423280
22      48.576975
23      51.970624
24      48.840922
25      27.031741
26     -36.496976
27      55.839922
28            NaN
29      54.510948
          ...
1970    47.694520
1971    30.308184
1972    54.969313
1973    47.466485
1974    31.344048
1975    54.235915
1976    47.604402
1977    31.192627
1978    40.518963
1979    48.148404
1980    52.580773
1981    43.999461
1982    45.993199
1983    33.327144
1984    60.886966
1985    39.142225
1986    38.622259
1987    20.542409
1988    24.270612
1989    25.252609
1990    34.101654
1991    45.539385
1992    23.250084
1993    26.821928
1994    37.751622
1995    48.518179
1996    23.162104
1997    28.017167
1998    63.971796
1999    56.152617
Name: age, Length: 2000, dtype: float64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
clientid    2000 non-null int64
income      2000 non-null float64
age         1997 non-null float64
loan        2000 non-null float64
default     2000 non-null int64
dtypes: float64(3), int64(2)
memory usage: 78.2 KB

In [15]:
df['age'].head(5)

0    59.017015
1    48.117153
2    63.108049
3    45.751972
4    18.584336
Name: age, dtype: float64

In [16]:
df.describe()

          clientid        income          age          loan      default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
clientid    2000 non-null int64
income      2000 non-null float64
age         1997 non-null float64
loan        2000 non-null float64
default     2000 non-null int64
dtypes: float64(3), int64(2)
memory usage: 78.2 KB

In [19]:
df.drop('clientid', axis=1, inplace=True)

In [20]:
df.head(3)

         income        age         loan  default
0  66155.925095  59.017015  8106.532131        0
1  34415.153966  48.117153  6564.745018        0
2  57317.170063  63.108049  8020.953296        0

In [21]:
df = pd.read_csv('census.csv')

In [22]:
df.head(3)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [23]:
df['race'].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [25]:
df[df['education-num'] >= 13]

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
32,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
41,53,Self-emp-not-inc,88506,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
42,24,Private,172987,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,50,United-States,<=50K
45,57,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
47,44,Private,128354,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
52,47,Private,51835,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1902,60,Honduras,>50K
53,50,Federal-gov,251585,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,>50K
60,30,Private,59496,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,2407,0,40,United-States,<=50K
63,42,Private,116632,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
71,31,Private,309974,Bachelors,13,Separated,Sales,Own-child,Black,Female,0,0,40,United-States,<=50K
72,29,Self-emp-not-inc,162298,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,70,United-States,>50K
81,52,Private,276515,Bachelors,13,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Cuba,<=50K
87,33,Private,202051,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
89,43,Federal-gov,410867,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,>50K
94,34,Local-gov,226296,Bachelors,13,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
96,48,Self-emp-not-inc,191277,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K
100,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
101,44,Private,198282,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,>50K
102,47,Self-emp-not-inc,149116,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32439,23,Private,190273,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
32449,44,Self-emp-inc,71556,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,?,>50K
32455,36,Self-emp-not-inc,109133,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,>50K
32457,33,Private,139057,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,50,United-States,>50K
32458,36,Private,237943,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1977,45,United-States,>50K
32459,85,Private,98611,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,3,Poland,<=50K
32461,24,Private,284317,Bachelors,13,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,32,United-States,<=50K
32464,45,Self-emp-inc,173664,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
32466,37,Private,121521,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,45,United-States,>50K
32469,58,Self-emp-inc,181974,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,99,?,<=50K
32470,50,Private,485710,Doctorate,16,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K
32472,34,Private,30673,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
32473,41,Federal-gov,160467,Masters,14,Divorced,Prof-specialty,Unmarried,White,Female,1506,0,40,United-States,<=50K
32480,41,Private,201495,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32502,35,Local-gov,79649,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
32504,50,Private,208630,Masters,14,Divorced,Sales,Not-in-family,White,Female,0,0,50,United-States,>50K
32507,50,Private,302372,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
32511,25,Local-gov,514716,Bachelors,13,Never-married,Adm-clerical,Own-child,Black,Female,0,0,40,United-States,<=50K
32513,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,>50K
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [26]:
df = pd.read_csv('credit-data.csv')

In [27]:
df['age'].max()

63.971795841120212

In [28]:
df['age'].min()

-52.423279919661596

In [31]:
df['age'].to_json()

'{"0":59.0170150669,"1":48.1171531049,"2":63.1080494919,"3":45.7519723522,"4":18.5843359269,"5":57.4716071025,"6":26.8091324191,"7":32.8975483207,"8":55.4968525395,"9":39.7763780556,"10":25.6795753539,"11":60.4719358548,"12":26.3550438546,"13":61.5767758233,"14":39.2015528912,"15":-28.2183613214,"16":39.57453035,"17":60.8483179393,"18":61.6905707079,"19":26.0760930181,"20":31.7613541707,"21":-52.4232799197,"22":48.576974534,"23":51.9706241027,"24":48.8409217698,"25":27.031741309,"26":-36.4969755136,"27":55.8399218451,"28":null,"29":54.5109475637,"30":null,"31":null,"32":38.131907464,"33":38.6615042379,"34":36.6720209196,"35":20.6667787344,"36":58.1850173026,"37":50.2250059168,"38":18.840525758,"39":32.6760442532,"40":32.8966930676,"41":62.641302852,"42":49.0404332359,"43":25.2523307088,"44":47.3218990602,"45":18.1300383634,"46":47.2507310347,"47":50.0886712889,"48":57.9287192984,"49":46.3082401934,"50":35.7086517671,"51":29.2460566033,"52":54.9592871876,"53":47.7150637005,"54":49.3663711972,"55":50.0981590673,"56":23.4436241724,"57":31.9685264034,"58":20.8376339208,"59":36.8478006818,"60":53.7450604746,"61":47.9441217002,"62":62.0238024718,"63":34.4748710068,"64":25.1075240481,"65":41.5271887868,"66":60.5410774336,"67":22.2420977438,"68":21.5986763537,"69":49.5659772772,"70":52.3838734385,"71":21.2164916703,"72":33.183106232,"73":44.8257153076,"74":28.6063759574,"75":51.0129371877,"76":60.2887568264,"77":56.8513309574,"78":61.2292854288,"79":50.0749242743,"80":43.8309230963,"81":53.8395200036,"82":43.0279434239,"83":24.0382653452,"84":33.6564412359,"85":19.7773858458,"86":25.5850369763,"87":19.2124481862,"88":27.5617124047,"89":25.0633674175,"90":61.4409130015,"91":59.3338370761,"92":56.4944104054,"93":63.3794076466,"94":55.3661880465,"95":28.8395424685,"96":63.1699139439,"97":63.7357102409,"98":20.240621272,"99":24.179470323,"100":36.651558625,"101":47.9763081614,"102":49.9226037161,"103":25.7084823274,"104":45.6552049979,"105":44.2948713298,"106":29.9100334882,"107":34.7392676645,"108":44.3150380226,"109":35.5140173663,"110":19.5157164894,"111":53.0476547657,"112":20.9912433564,"113":29.2350565218,"114":38.6606185785,"115":47.4687409927,"116":59.6751149814,"117":26.5857784841,"118":38.5877833911,"119":29.9045216716,"120":35.3419488417,"121":23.8219211781,"122":29.3259014729,"123":21.3750333181,"124":18.4774250188,"125":22.5358841913,"126":22.8269377253,"127":59.5229867357,"128":53.4108624998,"129":46.7538959244,"130":45.0769692315,"131":24.3771287729,"132":29.4230185477,"133":53.3095358415,"134":32.4756210591,"135":48.3449929575,"136":53.5822798652,"137":24.7831077934,"138":38.1160166832,"139":21.2076896024,"140":22.5695683574,"141":37.3097529393,"142":26.1922096619,"143":50.2377849855,"144":39.0484098746,"145":26.1015004199,"146":58.8569274861,"147":49.1538267019,"148":60.5250064535,"149":40.8329182346,"150":57.7562431647,"151":44.0485165128,"152":51.1677144752,"153":29.1121819927,"154":32.4718877156,"155":46.1541915215,"156":55.2345850714,"157":27.909651964,"158":47.1057667518,"159":41.4163357611,"160":58.3484551762,"161":31.0818845071,"162":60.5296831951,"163":33.1156532462,"164":27.8734861887,"165":43.8394727889,"166":29.2973987455,"167":21.1087735659,"168":42.8286152952,"169":28.9702452291,"170":53.898080206,"171":60.4021064555,"172":49.39040223,"173":50.5067522144,"174":43.7254478061,"175":63.3762330119,"176":57.5810503219,"177":33.0152727491,"178":23.6110538482,"179":19.6300378023,"180":26.7231624448,"181":44.9388158494,"182":51.4608756178,"183":60.5169084747,"184":20.5836314359,"185":26.0420926865,"186":54.0104153105,"187":56.7246256219,"188":55.5965494788,"189":45.5540205068,"190":29.0720967199,"191":52.5870399242,"192":44.2215166972,"193":53.8686510776,"194":44.7743805875,"195":23.7774331844,"196":53.6956359204,"197":28.6532836552,"198":33.431205485,"199":53.6699082404,"200":52.4244221742,"201":26.206880325,"202":37.2764920085,"203":62.4420966911,"204":28.4456774769,"205":37.9454801898,"206":61.5248488286,"207":46.6789695257,"208":48.6236102139,"209":42.0493419757,"210":42.775255885,"211":56.1514183846,"212":31.9281536792,"213":25.4631600711,"214":37.0277528418,"215":53.4050833671,"216":20.1618777225,"217":50.9791347058,"218":61.2601441988,"219":36.2151896632,"220":60.9375815815,"221":55.1925993469,"222":41.261946226,"223":50.9284318453,"224":41.3531710147,"225":27.3018002296,"226":31.9096907987,"227":48.0785200722,"228":20.2281011762,"229":22.9182122629,"230":52.3005040959,"231":47.2954547601,"232":48.9632109753,"233":25.514389649,"234":58.6383316047,"235":22.4861360388,"236":54.9648733116,"237":45.4249930051,"238":57.9306961889,"239":63.4214554904,"240":53.5338888033,"241":27.8029975118,"242":40.4461679389,"243":18.3969698278,"244":21.8976978017,"245":37.3990698862,"246":50.4129322777,"247":44.7227962231,"248":26.310194327,"249":60.6666585184,"250":24.7795283021,"251":58.4878998776,"252":51.2941970383,"253":39.7397662643,"254":45.0197964297,"255":53.6151803117,"256":43.5143038421,"257":55.2220663037,"258":29.9207484745,"259":36.6687041712,"260":60.1048188834,"261":57.3796501425,"262":54.5301724006,"263":29.4214125732,"264":47.005260142,"265":62.0221380731,"266":53.0822144486,"267":52.3393763732,"268":39.0091894618,"269":55.5476296111,"270":40.8445077632,"271":25.1596109355,"272":50.1084866761,"273":23.2381696003,"274":56.6005673469,"275":25.6021726369,"276":45.1232806812,"277":19.8196311858,"278":30.4140330967,"279":49.0278497678,"280":57.6437090645,"281":33.2456503003,"282":55.5872108615,"283":61.9842032283,"284":40.4054552191,"285":50.0046984688,"286":41.9700667928,"287":46.4470364344,"288":48.1207991494,"289":45.1209932161,"290":40.8056031088,"291":43.5972086615,"292":53.3623404414,"293":37.7786642946,"294":19.7161760875,"295":22.6446692147,"296":47.7042887476,"297":21.4955053329,"298":51.6930556223,"299":21.0219965987,"300":55.171019956,"301":32.5530303521,"302":57.9016834628,"303":55.366899665,"304":50.3134648902,"305":27.0803906261,"306":21.1448488398,"307":33.0063595413,"308":20.3008601284,"309":62.0016749538,"310":53.57694074,"311":51.9322680468,"312":37.2856837031,"313":47.9696752322,"314":52.4367397828,"315":54.623233851,"316":46.5799600426,"317":25.8665337795,"318":20.0109276962,"319":58.5191334835,"320":34.2942604152,"321":21.282783723,"322":43.1939415303,"323":61.9533737507,"324":62.0498009701,"325":30.5360198994,"326":45.519977238,"327":33.8955782177,"328":39.4154707887,"329":42.0900922776,"330":20.1054587159,"331":48.9125574674,"332":49.7505856687,"333":50.2041390226,"334":26.5637165341,"335":44.8726078076,"336":62.4284668569,"337":59.4365005721,"338":58.8406567499,"339":52.4860697873,"340":54.6319151935,"341":47.1914100861,"342":27.8844150044,"343":26.6664690534,"344":56.9579610438,"345":30.2678123456,"346":52.9670877066,"347":51.3580610543,"348":51.0162404198,"349":19.946684496,"350":60.7300558584,"351":52.3828332629,"352":32.4029204347,"353":18.8303362895,"354":28.1553204707,"355":43.0130229774,"356":42.7513535996,"357":62.9096049448,"358":32.2862543464,"359":40.0392702394,"360":53.2880337355,"361":24.2041407018,"362":27.064197721,"363":54.9480615598,"364":52.8992132419,"365":61.8106158781,"366":22.4929238483,"367":50.5264297505,"368":28.6317861332,"369":53.0386968642,"370":37.7378544868,"371":55.7392006991,"372":52.8386391988,"373":55.4291344974,"374":59.2459849967,"375":29.7744096327,"376":31.5968586425,"377":56.8408306357,"378":38.9890088886,"379":35.591905213,"380":33.4840662708,"381":56.311668782,"382":45.7314004921,"383":56.5173067129,"384":53.55019966,"385":29.1155316215,"386":42.3079184592,"387":62.0652512829,"388":49.3638810948,"389":49.0651086378,"390":51.0198048097,"391":40.8477560305,"392":23.5107674832,"393":23.5130425245,"394":31.1392572043,"395":57.6342398361,"396":28.2175287632,"397":49.6584056043,"398":54.8364598048,"399":23.3115743245,"400":44.8088411903,"401":53.2058221558,"402":18.6630267929,"403":46.0507889031,"404":63.9249755815,"405":22.9843944823,"406":47.5405059303,"407":28.5899873124,"408":47.7617399828,"409":51.0563588943,"410":44.2066866555,"411":50.4029816468,"412":18.0753358607,"413":63.0159466909,"414":30.2498714165,"415":27.0216773641,"416":37.778014774,"417":53.7525228346,"418":36.501370898,"419":43.9410412409,"420":40.9114946299,"421":28.1885305173,"422":52.7196732108,"423":45.3058510269,"424":48.1095946743,"425":34.3937068642,"426":35.0154038901,"427":18.8429928976,"428":25.8393941298,"429":25.2598693897,"430":46.7659284594,"431":50.0438201013,"432":24.4183572857,"433":25.4163910276,"434":24.8499603327,"435":32.4554232853,"436":39.9551940658,"437":44.4099749592,"438":44.965125822,"439":56.6269513378,"440":28.8182737702,"441":60.0587776736,"442":47.0027460703,"443":57.4422193584,"444":20.1403118158,"445":47.1511486731,"446":20.7098928331,"447":53.9356266344,"448":55.1507588206,"449":24.8449592968,"450":39.9639062001,"451":35.7756003877,"452":27.5153688779,"453":18.3261221554,"454":30.8888927312,"455":47.8391001374,"456":52.3358155498,"457":33.2805235568,"458":26.3827103931,"459":63.8006709074,"460":42.9319930766,"461":47.3313971204,"462":39.7047263035,"463":38.2274417519,"464":27.9331710166,"465":56.6321662031,"466":32.4135985887,"467":42.7345777163,"468":21.2967032683,"469":44.2378814584,"470":58.5688760667,"471":40.3611400882,"472":32.16327128,"473":21.9063058435,"474":49.4130304074,"475":19.3715205356,"476":36.0744793792,"477":58.7474846952,"478":55.1259217481,"479":53.3427248104,"480":29.3157673976,"481":62.3698885972,"482":30.6282073753,"483":18.5286279926,"484":60.7552497629,"485":20.0963994744,"486":28.7588016791,"487":55.2648774106,"488":32.5332560278,"489":28.7354316162,"490":28.6258191755,"491":46.9182215245,"492":21.2742106393,"493":49.004692913,"494":47.1836194796,"495":26.6518377718,"496":54.3089268133,"497":31.7322647488,"498":61.4815225499,"499":21.3731215778,"500":23.9513885803,"501":41.5538422251,"502":40.9803287508,"503":34.6683487799,"504":42.3945969995,"505":36.5630921652,"506":47.3082861374,"507":41.8198233191,"508":61.6451227367,"509":60.5821975269,"510":36.9707166916,"511":27.3041244308,"512":27.6310877874,"513":49.7740637762,"514":55.9030230478,"515":47.178784891,"516":33.0735146762,"517":25.5179991396,"518":57.5200941171,"519":26.7663112232,"520":62.2943905089,"521":26.4941696702,"522":38.2525118571,"523":23.9738295432,"524":25.6182406181,"525":55.7171344329,"526":59.8524872446,"527":54.3039126145,"528":20.5874274233,"529":45.573993484,"530":54.1812955695,"531":45.8902827995,"532":51.9440088142,"533":28.5319973431,"534":19.4971026806,"535":25.0643792432,"536":58.5271807495,"537":55.518926667,"538":37.3942870065,"539":51.1468272102,"540":50.3192126206,"541":41.4541950882,"542":35.7711543227,"543":52.0892027989,"544":18.4162362311,"545":38.0405282234,"546":42.8901015483,"547":27.5303214337,"548":53.5448196861,"549":25.301877188,"550":32.1782629602,"551":58.9949772898,"552":21.8747463902,"553":56.8378381496,"554":22.3484194726,"555":42.2750075273,"556":62.3191646803,"557":59.3625124735,"558":47.0350984968,"559":49.7294325656,"560":27.9384801318,"561":38.4575596876,"562":53.5434088088,"563":54.1049066703,"564":59.6337369862,"565":43.8106586407,"566":45.9289716217,"567":32.5093102376,"568":62.8294148315,"569":33.6821509548,"570":28.1550842463,"571":47.0681055421,"572":58.9073276119,"573":46.4382231315,"574":34.058644854,"575":55.5423627156,"576":27.4332205635,"577":63.4005892067,"578":60.9125613431,"579":53.4034336735,"580":19.8870530799,"581":21.6623410205,"582":34.0100260181,"583":19.3046918265,"584":50.3030429888,"585":20.2576053403,"586":54.8174662013,"587":27.1962682502,"588":35.6521986378,"589":48.0585991144,"590":33.9456716245,"591":44.3560899454,"592":56.1940032062,"593":27.4652809333,"594":57.0969364881,"595":18.6478525787,"596":36.4082663069,"597":24.3935543466,"598":41.8750019013,"599":47.2234288896,"600":39.2814331688,"601":41.9411697583,"602":61.3126543858,"603":51.1412676903,"604":32.245007969,"605":62.1307554604,"606":62.9481293545,"607":53.6743410034,"608":31.7648890004,"609":23.9865639289,"610":22.2630956131,"611":37.5427567731,"612":55.3610418765,"613":57.5421556281,"614":49.3106344524,"615":42.7655593217,"616":41.084909128,"617":46.5985135422,"618":38.6837404002,"619":41.9940102911,"620":40.3030153844,"621":63.5151151381,"622":49.5150355361,"623":38.4916283502,"624":22.5428407723,"625":48.9172136239,"626":54.4484247551,"627":34.4429727895,"628":23.0760349878,"629":33.850522358,"630":50.4237628807,"631":21.7213588594,"632":36.3500753818,"633":53.9306910806,"634":55.8490920123,"635":49.3399269721,"636":30.9835570501,"637":32.5968318535,"638":19.3291078913,"639":53.6382034924,"640":50.8955430407,"641":62.6893636431,"642":51.6470628548,"643":47.2466262933,"644":25.5296103563,"645":42.6711944924,"646":23.0814173929,"647":26.6271984526,"648":27.1315302062,"649":23.9729682496,"650":35.7160736532,"651":53.4286878337,"652":44.1091034939,"653":31.6964556663,"654":55.2125356952,"655":21.4201601758,"656":58.0816884134,"657":44.4533628216,"658":57.2195919184,"659":55.1584671726,"660":62.2016585153,"661":60.5445980723,"662":42.4049403309,"663":23.1814436284,"664":53.3677544631,"665":48.9774480355,"666":35.086597288,"667":26.3497418938,"668":52.5336985392,"669":48.6514598648,"670":51.3882188625,"671":38.9212890365,"672":27.8079414838,"673":41.7177590057,"674":29.4211424296,"675":38.8767124265,"676":34.5964918844,"677":24.6867330968,"678":44.6286484147,"679":33.9294242365,"680":48.3197407145,"681":28.8185219793,"682":62.7701106337,"683":63.6253054803,"684":41.4688852439,"685":43.8873090511,"686":43.9054290229,"687":51.4895268101,"688":41.8526130542,"689":59.4719182071,"690":57.7055592933,"691":53.3790106042,"692":61.3889711411,"693":36.9204115439,"694":21.2391576227,"695":22.9836358461,"696":25.9250256293,"697":18.3097456344,"698":34.2207668605,"699":42.6243938752,"700":61.3719132794,"701":30.6518233875,"702":26.5513867694,"703":43.5236232025,"704":33.8001351166,"705":42.3772462993,"706":63.3122752602,"707":24.2648553592,"708":45.886541584,"709":40.8733375482,"710":27.3703380204,"711":43.9561713184,"712":29.7081892956,"713":35.2983984412,"714":24.3516025199,"715":46.5357845407,"716":54.6203531795,"717":35.8306517112,"718":48.1859072847,"719":59.0037683048,"720":53.4446602478,"721":56.9954393553,"722":57.2782905716,"723":37.2176540047,"724":40.2967223222,"725":59.6770221912,"726":32.3617921588,"727":25.3025307893,"728":41.8136523534,"729":46.3294121143,"730":59.1448074137,"731":25.5482243258,"732":45.6444349932,"733":40.5488618091,"734":42.0974981091,"735":26.5610123025,"736":44.412732142,"737":56.0316035268,"738":32.3916598489,"739":55.5812039119,"740":25.5955243814,"741":39.7149895974,"742":48.2406478086,"743":40.2791402387,"744":25.8566775699,"745":44.4978791652,"746":41.6325453222,"747":29.0336793587,"748":47.0737268492,"749":29.2626339835,"750":22.1682629082,"751":60.6552104717,"752":44.5296706767,"753":22.300125381,"754":51.1797121163,"755":34.405086162,"756":54.0833714376,"757":58.4260793161,"758":22.1093805856,"759":56.5669315374,"760":61.8368447102,"761":37.6641986403,"762":38.3059819466,"763":25.6562818582,"764":30.7523156456,"765":43.2072446495,"766":47.7751709498,"767":45.4156241422,"768":31.1253324109,"769":34.5148812653,"770":40.388842945,"771":54.9401186649,"772":53.1073599537,"773":44.3926223419,"774":53.7002732377,"775":49.7139043789,"776":60.2763893404,"777":42.3012538385,"778":47.4181083911,"779":60.5793527025,"780":33.8045035219,"781":49.6742196358,"782":35.094163537,"783":52.6406244203,"784":22.344923628,"785":39.0386727839,"786":34.700989536,"787":31.6031620721,"788":41.2409060192,"789":19.9594523082,"790":25.3291227403,"791":40.5675955508,"792":29.6363693075,"793":59.4868482286,"794":30.2809275542,"795":45.829426521,"796":59.6917192978,"797":32.2145080874,"798":56.4096822157,"799":51.9397291215,"800":25.9064452043,"801":40.7743055844,"802":32.4735058034,"803":53.2281321543,"804":46.4791532471,"805":47.1273699836,"806":35.8507148684,"807":36.0585051873,"808":59.7045191764,"809":53.1982789445,"810":41.9440537179,"811":49.5572698126,"812":44.557108595,"813":60.5802186658,"814":58.7937669596,"815":28.948204753,"816":30.6768498379,"817":57.5763008045,"818":55.8568540653,"819":31.0007680785,"820":45.038576236,"821":20.1188450963,"822":46.1690147729,"823":52.2466784487,"824":47.4213283621,"825":41.2400346901,"826":33.4031739105,"827":62.136373865,"828":47.752940271,"829":56.7655671011,"830":22.9615335506,"831":57.4869551328,"832":58.7940956773,"833":29.1899978882,"834":42.1331095668,"835":54.6658208575,"836":48.0968023036,"837":34.7233597366,"838":20.5603964715,"839":29.5495097754,"840":25.1471019248,"841":32.0720080417,"842":40.1948889853,"843":54.663929306,"844":60.1660164748,"845":57.8680602163,"846":25.9764585942,"847":54.9109715149,"848":34.3504997366,"849":23.1258772509,"850":35.9790101987,"851":54.3924881364,"852":59.0226465594,"853":28.7333587087,"854":42.9149115668,"855":47.1495458046,"856":58.1365677523,"857":32.4746129392,"858":61.9599347501,"859":24.7884375579,"860":18.6957987277,"861":24.3714581453,"862":30.4852303183,"863":28.6165092401,"864":47.7227678541,"865":54.1425482268,"866":35.4718469656,"867":35.2682511825,"868":41.1508777859,"869":21.6996995276,"870":21.8542913464,"871":53.8968184148,"872":22.7386025083,"873":53.5978628239,"874":36.3746234393,"875":45.4710499053,"876":48.288585111,"877":42.7969214716,"878":22.1462626061,"879":46.8319495972,"880":26.303146977,"881":40.6168506052,"882":60.9709445592,"883":42.7828555498,"884":48.2850302425,"885":20.5852316911,"886":29.3008653834,"887":22.4840485333,"888":34.4796788199,"889":22.7896366892,"890":36.5523909307,"891":44.9091980499,"892":39.9441606863,"893":32.3969839904,"894":63.4878736236,"895":36.6745834872,"896":46.0123431599,"897":20.932671587,"898":63.3739421731,"899":41.5310972743,"900":52.0829052706,"901":19.1351382304,"902":18.6213070992,"903":58.940914283,"904":27.8009201703,"905":37.7403956875,"906":33.5597739792,"907":35.704356791,"908":25.586382125,"909":25.8538567899,"910":19.2075996422,"911":37.6196372602,"912":25.0547269559,"913":44.4456512993,"914":55.0097213611,"915":55.1564379628,"916":48.8987582298,"917":29.3614619286,"918":55.2882977473,"919":45.0321259801,"920":60.3773854389,"921":51.3064918877,"922":29.3964444613,"923":51.3734172671,"924":62.6251084581,"925":38.9527395456,"926":46.4767039828,"927":42.8835592917,"928":63.1899865903,"929":20.4049915122,"930":28.1087074322,"931":54.0686636209,"932":54.2647477449,"933":18.8743571145,"934":63.8850437431,"935":42.8418413973,"936":52.0858715917,"937":19.0816236078,"938":35.3614920396,"939":36.2980512884,"940":50.2414879547,"941":60.8070176682,"942":63.9307346861,"943":49.6374590155,"944":28.9600249473,"945":36.3568546553,"946":18.6712893769,"947":27.2919716095,"948":55.4090137514,"949":35.5224991776,"950":27.9934091126,"951":34.912699074,"952":31.0545481215,"953":39.1573059843,"954":28.3068615505,"955":31.3907911573,"956":62.3285863018,"957":33.6895613596,"958":23.282966455,"959":57.2635917729,"960":50.651299688,"961":19.2277783197,"962":61.1649569646,"963":20.8043047981,"964":55.6965293498,"965":20.9909665296,"966":23.4877088945,"967":27.5284397248,"968":54.3172402922,"969":33.0913530015,"970":43.8954665251,"971":53.4953945642,"972":43.880459358,"973":55.3661617422,"974":32.6511982484,"975":29.3502885881,"976":18.2999803973,"977":20.1268885387,"978":58.5713950437,"979":62.1970788189,"980":45.6872204705,"981":26.8540129098,"982":20.03986423,"983":26.6331468173,"984":30.3998898901,"985":35.6025172849,"986":24.7076189695,"987":22.911070588,"988":21.6032314701,"989":24.2437830968,"990":44.0273743556,"991":58.1195471087,"992":48.3510828256,"993":45.7291535651,"994":27.2101574214,"995":51.5489227837,"996":35.538517335,"997":39.798191336,"998":21.4024026161,"999":19.6025430984,"1000":41.6018864475,"1001":32.1452214066,"1002":56.5100399321,"1003":49.3257695208,"1004":21.380428554,"1005":19.132446487,"1006":52.62685289,"1007":26.4493368398,"1008":35.1348369075,"1009":40.8246740508,"1010"

In [33]:
df[df['age'].isnull()]

    clientid        income  age         loan  default
28        29  59417.805406  NaN  2082.625938        0
30        31  48528.852796  NaN  6155.784670        0
31        32  23526.302555  NaN  2862.010139        0

In [34]:
df.columns

Index(['clientid', 'income', 'age', 'loan', 'default'], dtype='object')

In [39]:
for column in df.columns:
    print(column, 'Nulos: ', df[column].isnull().sum())

clientid Nulos:  0
income Nulos:  0
age Nulos:  3
loan Nulos:  0
default Nulos:  0

In [38]:
df['age'].isnull()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28       True
29      False
        ...
1970    False
1971    False
1972    False
1973    False
1974    False
1975    False
1976    False
1977    False
1978    False
1979    False
1980    False
1981    False
1982    False
1983    False
1984    False
1985    False
1986    False
1987    False
1988    False
1989    False
1990    False
1991    False
1992    False
1993    False
1994    False
1995    False
1996    False
1997    False
1998    False
1999    False
Name: age, Length: 2000, dtype: bool